<h1>여기는 게시물이 보이는 페이지입니다.</h1>
    <%@posts.each do |x| %> <br>
    제목: <%=x.title%><br>
    내용: <%=x.content%><br><br>
    
    <a href= '/home/destroy/<%=x.id%>'>삭제</a><br>
    <a href= '/home/edit/<%=x.id%>'>수정하기</a><br>
    <%end%> <br>
   
-------------------------------------------------------------------<br>
<a href="/home/new">글쓰러가기</a>